<footer class="footer">
    <div class="f-info">
        <div class="f-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-copyright">
            &copy;Travel Buddy private limited
        </div>
        <div class="f-links">
            <a href="/privacy">Privacy</a>&nbsp;&nbsp;&nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>