<% layout("/layout/boilerplate") %>
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Create New Listing</h1>
            <form method="POST" action="/listings/new" class="needs-validation" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Name:</label>
                    <input name="listing[title]" id="title" class="form-control" placeholder="Enter Title" type="text" required> 
                    <div class="valid-feedback">
                        Title is valid.
                    </div>  
                    <div class="invalid-feedback">
                        Title must be valid.
                    </div>   
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea name="listing[description]" id="description" class="form-control" placeholder="Enter Description" type="text" required></textarea> 
                    <div class="valid-feedback">
                        Description is valid.
                    </div>  
                    <div class="invalid-feedback">
                        Description must be valid.
                    </div>   
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image:</label>
                    <input id="image" name="uploaded-file" class="form-control-file" type="file">
                    <!-- <input name="listing[image]" id="image" class="form-control" placeholder="Enter Image URL/Link" type="text">  -->
                    <div class="valid-feedback">
                        Image is valid.
                    </div>  
                    <div class="invalid-feedback">
                        Image must be valid.
                    </div>   
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input name="listing[price]" id="price" class="form-control" placeholder="Enter Price" type="number" required>     
                        <div class="valid-feedback">
                            Price is valid.
                        </div>  
                        <div class="invalid-feedback">
                            Price must be valid.
                        </div>   
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country:</label>
                        <input name="listing[country]" id="country" class="form-control" placeholder="Enter Country" type="text" required> 
                        <div class="valid-feedback">
                            Country is valid.
                        </div>  
                        <div class="invalid-feedback">
                            Country must be valid.
                        </div>        
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input name="listing[location]" id="location" class="form-control" placeholder="Enter Location" type="text" required>  
                    <div class="valid-feedback">
                        Location is valid.
                    </div>  
                    <div class="invalid-feedback">
                        Location must be valid.
                    </div>  
                </div>
                <button class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>